.release-container div {
    display: flex;
    flex-direction: column;
}

.release-container .date-format-media-title-section > div {
    align-items: baseline;
    display: flex;
    flex-direction: row;
}

.release-container p {
    margin-block-end: 0.25rem;
    margin-block-start: 0.25rem;
}
.release-container span {
    font-size: 1.25rem;
    font-style: italic;
    padding-right: 8px;
}
